{% extends 'głowny.html' %}

{% load bootstrap %}

{% block title %} Tworzenie / edytoanie filmu {% endblock %}

{% block body %}
    <div class="card" style="width: 600px">
        <div class="card-body">
            <form role="role" method="post" enctype="multipart/form-data">
                <h5 class="card-title">Zapisz film</h5>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-danger">Zachowaj <i class="fas fa-save"></i></button>
                <a href="{% url 'test_response' %}"><i class="fas fa-2x fa-share"></i></a>
            </form>
        </div>
    </div>
{% endblock %}